.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
media/**

.codex/

assets/mk.gif
assets/taskioTeaser.gif

assets/searchCommand.png
assets/priority.png
assets/demonstration.png
assets/exportExample.png
assets/trelloExample.png


*.mp4